artefacts/**
models/**
*/temp/**
temp/**
**.pkl
**.pyctemp/*
composer.ipynb
.trunk
data/artemis*
data/wikiart_composed.parquet.link
data/wikiart_paintings*
data/Wikiart-Emotions*
*/__pycache__
__pycache__
backup